html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background: #222222;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 1rem;
    overflow: hidden;
}

#game-container {
    width: 100%;
    height: 100%;
    position: relative;
}

#game {
    /* Para quitar barras de scroll */
    display: block;
    /* Color del cielo del fondo */
    background: #2bbfff;
    /* Para pantallas táctiles */
    touch-action: none;
    /* Para clics de ratón */
    user-select: none;
    -webkit-user-select: none;
}

#score {
    position: absolute;
    top: 20px;
    left: 20px;

    color: #fdf5e6;
    font-size: 2rem;
    font-weight: bold;

    /* Para que se pueda pulsar encima
    sin que influya en el juego, para
    que no se seleccione con doble clic
    y no falle el vuelo del pájaro */
    pointer-events: none;
}

.screen {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 5%;
    inset: 0;
    gap: 14px;
    color: #fdf5e6;
    max-height: 800px;
}

.screen * {
    margin: 0;
}

.hidden {
    display: none;
}

.filtered {
    filter: opacity(0.22);
}

button, input {
    width: 200px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 100px;
    font-weight: bold;
    font-size: 1rem;
    line-height: 2;
    color: #222222;
}

button {
    border: none;
    background: #fdf5e6;
    cursor: pointer;
}

input {
    border: 4px dashed #222222;
    background: #ffffff;
    padding-left: 15px;
}

#leaderboard {
    text-align: left;
}

.cuadroDialogo {
    border-width: 2px;
    border-radius: 8px;
    background-color: #fdf5e6;
    max-width: calc(100% - 80px);
    max-height: calc(100% - 80px);
    text-align: center;
    text-wrap: balance;
}

.cuadroDialogo::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.cuadroDialogo * {
    margin: 5px;
}

.cuadroDialogo button {
    width: 150px;
    color: #fdf5e6;
    background-color: #222222;
}

.cuadroDialogo button#cancel-deletion {
    background-color: #f06f06;
}

.cuadroDialogo button#confirm-deletion {
    background-color: #008866;
}

@media (min-width: 450px) {
    #game-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 450px;
        height: 100dvh;
        max-height: 800px;
    }
}

@media (min-width: 450px) and (min-height: 800px) {
    #game {
        border-radius: 22px;
    }
}