html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background: #222222;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 1rem;
    overflow: hidden;
}

#game-container {
    width: 100%;
    height: 100%;
    position: relative;
}

#game {
    /* Para quitar barras de scroll */
    display: block;
    /* Color del cielo del fondo */
    background: #2bbfff;
    /* Para pantallas táctiles */
    touch-action: none;
    /* Para clics de ratón */
    user-select: none;
    -webkit-user-select: none;
}

#score {
    position: absolute;
    top: 20px;
    left: 20px;

    color: whitesmoke;
    font-size: 2rem;
    font-weight: bold;

    /* Para que se pueda pulsar encima
    sin que influya en el juego, para
    que no se seleccione con doble clic
    y no falle el vuelo del pájaro */
    pointer-events: none;
}

#message {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 5%;
    top: 44px;
    gap: 14px;
    color: #222222;
    pointer-events: none;
}

#message * {
    margin-top: 0px;
    margin-bottom: 0px;
}

#message.hidden {
    display: none;
}

@media (min-width: 450px) {
    #game-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 450px;
        height: 100dvh;
        max-height: 800px;
    }
}

@media (min-width: 450px) and (min-height: 800px) {
    #game {
        border-radius: 22px;
    }
}